* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.page-title {
  font-family: 'PokemonSolid';
  font-size: 3rem;
  color: #feca1b;
  text-shadow: -4px -4px 0px #3761a8, -4px 4px 0px #3761a8, 4px -4px 0px #3761a8,
    4px 0px 0px #3761a8;
  margin-left: 15px;
}

.light-bg {
  opacity: 0.6;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: 0.25rem 0.75rem;
  margin: 0.25rem 0;
  color: #fff;
  background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 2.5rem;
  min-width: 6rem;
  text-align: center;
}

.hide {
  display: none !important;
}

@media screen and (min-width: 992px) {
  header {
    padding: 1rem 2rem;
  }
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
