.pokemon-description-bg {
  padding: 1.5rem;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.pokemon-description {
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-height: 80vh;
  opacity: 1;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.display-none {
  display: none;
}

.description-header {
  display: grid;
  grid-template-areas:
    'name number'
    'types number';
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: start;
  justify-content: center;
}

.description-name {
  grid-area: name;
  text-transform: capitalize;
  font-size: 2.5rem;
  width: 30vw;
  font-family: 'PokemonSolid';
  color: #feca1b;
  text-shadow: -4px -4px 0px #3761a8, -4px 4px 0px #3761a8, 4px -4px 0px #3761a8,
    4px 0px 0px #3761a8;
}

.description-types {
  grid-area: types;
  display: inline;
}

.description-type {
  display: inline;
  padding: 0.3rem 0.75rem;
  margin: 0.25rem 0;
  border-radius: 1rem;
  text-align: center;
  filter: brightness(1.1);
}

.description-number {
  padding-top: 1px;
  grid-area: number;
  vertical-align: middle;
  font-size: 1.15rem;
}

.description-figure {
  z-index: 1010;
  display: inline-block;
}

.description-sprite {
  height: 20vh;
  margin-bottom: -1rem;
}

.description-animation {
  position: relative;
  right: -10rem;
  margin-bottom: -1rem;
  scale: 1.25;
}

.description-details-bg {
  box-shadow: rgb(204, 219, 232) 0px 5px 6px 3px inset;
  background-color: aliceblue;
  height: 90%;
  width: 85%;
  color: black;
  border-radius: 1rem;
}

.description-details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-row {
  width: 100%;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

.detail-topic {
  color: gray;
  text-align: right;
  width: 45%;
  padding-right: 0.5rem;
}

.detail-result {
  min-width: 25%;
  max-width: 50%;
}

.habitat {
  text-transform: capitalize;
}

.detail-egg-group {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 25%;
}

.egg-type {
  text-transform: capitalize;
  word-break: keep-all;
}

.abilities-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 25%;
}

.ability {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.25rem 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 0.09rem;
  text-transform: capitalize;
  width: 10rem;
}

@media screen and (max-width: 992px) {
  .pokemon-description {
    width: 90%;
  }

  .description-details {
    padding: 1rem;
    width: 90%;
  }

  .abilities-list {
    grid-template-columns: 1fr;
  }

  .description-name {
    width: 40vw;
  }

  .description-animation {
    right: -5rem;
  }
}

@media screen and (max-width: 566px) {
  .pokemon-description {
    width: 90%;
  }

  .description-details {
    padding: 1rem;
    width: 90%;
  }

  .detail-row {
    font-size: 1rem;
    justify-content: flex-start;
  }

  .ability {
    width: 9rem;
  }

  .description-animation {
    right: -3rem;
  }
}

@media screen and (max-width: 410px) {
  .pokemon-description {
    width: 90%;
  }

  .description-details {
    padding: 1rem;
    width: 90%;
  }

  .detail-row {
    font-size: 0.9rem;
    margin: 0.5rem;
  }

  .ability {
    width: 6rem;
    padding: 0.3rem 0.5rem;
  }

  .description-header {
    width: 100%;
    justify-content: space-between;
  }

  .description-animation {
    right: -1rem;
  }
}
